//- .practice-summary-box
//-   .practice-summary-title Practice size
//-   .practice-summary-value= summaryData.practiceSize
//- .practice-summary-box
//-   .practice-summary-title Patients affected by at least one indicator
//-   .practice-summary-value= summaryData.totalPatients
//- .practice-summary-box
//-   .practice-summary-title Patients affected by more than one indicator
//-   .practice-summary-value= summaryData.multiple
//- .practice-summary-box
//-   .practice-summary-title All indicator average
//-   .practice-summary-value= summaryData.allIndicatorAverage

if errorAlert
  .top-buffer
    alert(type='{{errorAlert.type}}')= errorAlert.msg
else
  .pull-right
    button#export.btn.btn-primary(type='button',style='display:none') Export
  ul.nav.nav-tabs(role='tablist')
    li(class=!tabId || +tabId ===0 ? 'active' : '', role='presentation')
      a(href='#summary', aria-controls='summary', role='tab', data-toggle='tab', data-id='0') Practice summary
    li(class=+tabId === 1 ? 'active' : '', role='presentation')
      a#tableTab(href='#table', aria-controls='table', role='tab', data-toggle='tab', data-id='1') Table
    li(class=+tabId === 2 ? 'active' : '', role='presentation')
      a(href='#charts', aria-controls='charts', role='tab', data-toggle='tab', data-id='2') Charts
  // Tab panes
  .tab-content
    #summary.tab-pane.fade(class=!tabId || +tabId ===0  ? 'active in' : '', role='tabpanel')
      table.top-buffer.table.table-bordered.table-narrow
        tr
          th(tooltip='Number of patients in the practice', tooltip-append-to-body='true', tooltip-placement='left') Practice size
          td= summaryData.practiceSize
        tr
          th(tooltip='Number of patients flagged up by at least one of the indicators', tooltip-append-to-body='true', tooltip-placement='left') Patients affected by at least one indicator
          td= summaryData.totalPatients
        tr
          th(tooltip='Number of patients flagged up by 2 or more indicators', tooltip-append-to-body='true', tooltip-placement='left') Patients affected by more than one indicator
          td
            a(href='/dashboard/practice/{{dataService.selectedPractice._id}}/patientsMultiple?dateId={{dataService.date._id}}')= summaryData.multiple
        tr
          th(tooltip='Out of all patients eligible for each indicator, this is the average proportion of affected patients', tooltip-append-to-body='true', tooltip-placement='left') All indicator average
          td= summaryData.allIndicatorAverage
    #table.tab-pane.fade(class=+tabId === 1 ? 'active in' : '', role='tabpanel')
      .clearfix
      .top-buffer
        table#indicatorTable.table.table-bordered.table-striped
          thead
            tr
              th.pointer(tooltip='{{field.tooltip}}') Indicator
              th.pointer(tooltip='{{field.tooltip}}') Affected patients
              th.pointer(tooltip='{{field.tooltip}}') Eligible patients
              th.pointer(tooltip='{{field.tooltip}}') % of eligible patients affected
              th.pointer(tooltip='{{field.tooltip}}') CCG Avg (%)
              th.pointer(tooltip='{{field.tooltip}}') Successful intervention
              th.pointer(tooltip='{{field.tooltip}}') Action pending
              th.pointer(tooltip='{{field.tooltip}}') New cases
              th.pointer(tooltip='{{field.tooltip}}') Trend
              th.pointer(tooltip='{{field.tooltip}}') Show on top
          tbody
            each indicator in tableData
              tr.no-priority
                td(tooltip='{{indicator.long_name}}', tooltip-append-to-body='true')= indicator.short_name
                td
                  a(href='/practice/' + practiceId + '/' + dateId + '/' + comparisonDateId + '/' + indicator.id + '/numerator')= indicator.num
                td= indicator.denom
                td= indicator.avg
                td= indicator.ccg
                td
                  a(href='/practice/' + practiceId + '/' + dateId + '/' + comparisonDateId + '/' + indicator.id + '/resolved')= indicator.resolved
                td
                  a(href='/practice/' + practiceId + '/' + dateId + '/' + comparisonDateId + '/' + indicator.id + '/existing')= indicator.existing
                td
                  a(href='/practice/' + practiceId + '/' + dateId + '/' + comparisonDateId + '/' + indicator.id + '/new')= indicator.new
                td= indicator.trendValue
                td
                  input(type='checkbox', ng-checked='isChecked(indicator.id)', ng-click='handleCheckBoxClick(indicator.id)')
    #charts.tab-pane.fade(class=+tabId === 2 ? 'active in' : '', role='tabpanel')
      .top-buffer
        select#id_chart.selectpicker(data-width="auto",title="Please select a chart to view...")
          option(value='0', selected=chartId==='0') Proportion of eligible patients affected
          option(value='1', selected=chartId==='1') Number of affected patients over time
          option(value='2', selected=chartId==='2') Proportion of eligible patients affected over time
        .panel.panel-default
          .panel-body
            .inline-element.left-buffer.align-bottom.pull-right
              div
                label End date:
              div
                select
            .inline-element.align-bottom.pull-right
              div
                label Start date:
              div
                select
            .clearfix
            #singlePracticeChart

